{% extends 'bases/base.html' %}
{% load static %}


{% block 'body' %}
<style>
    .container{
        max-width: 90%;
        padding: 0 15px;
        margin: 0 auto;
        padding-top: 70px;
    }

    .geral-colum{
        background: rgb(184,21,21);
        background: radial-gradient(circle, rgba(184,21,21,1) 0%, rgba(27,27,27,1) 100%);
        margin-top: 25px;

    }

    .geral-colum h2{
        color: #c7c3c7;
        margin: 0px;
        padding: 6px;
        text-align: center;
        text-shadow: 2px 2px 5px black;
    }

    .topic-geral{
        background-color: #1a1b1c;
        padding: 10px;
        display: grid;
        grid-template-columns: .2fr 2.3fr 1fr 1fr;
        border-bottom: 1px solid #2c2c2c;
        height: 100%;
    }
    
    .topic-geral a{
        color: #c7c3c7;
        text-shadow: 2px 2px 5px black;
    }

    .topic-geral a:hover{
        color: #d0180a;
    }

    .topic-geral span{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spngeral{
        margin-top: 12px;
        color: #c7c3c7;
    }

    .topic-colum{
        margin-top: 7px;
        background-image: url(https://www.webcheats.com.br/uploads/set_resources_191/d0e70b4cbb9ab8afb1bc1065a3f8487a_subitem_stem.png);
        background-position: 6px 40px;
        background-repeat: no-repeat;
    }

    .topic-colum a{
        font-size: 25px; 
        text-decoration: none;
    }

    .sub-topic-colum a{
        display: flex;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 4px;
    }

    .material-symbols-outlined{
        font-size: 40px;
        color: #b81515;
    }


    .apps{
        text-align: center;
        background-color: red;
    }


    .bannergearcode{
        display: flex;
        padding: 0 auto;
        margin: 0 auto;
        margin-top: 80px;
        width: 90%;
    }


</style>


<img class="bannergearcode" src="https://i.ibb.co/590SQMP/Design-sem-nome.png" alt="banner gearcode">

    <div class="container">
        <!--######## AREA GERAL ########-->
        <div class="geral-colum">
            <h2>Anúncios</h2>
        </div><!--forum-1-->
        <div class="topic-geral">
            <span class="material-symbols-outlined">forum</span>
            <div class="topic-colum">
                <a href="#">Regras da Gearcode</a>
            </div>
            <span class="spngeral">8,6k topics | 100,3k posts</span>
            <span class="spngeral">Topic por User, 11 horas atrás.</span>
        </div>
        <div class="topic-geral">
            <span class="material-symbols-outlined">forum</span>
            <div class="topic-colum">
                <a href="#">Anúncios</a>
            </div>
            <span class="spngeral">8,6k topics | 100,3k posts</span>
            <span class="spngeral">Topic por User, 11 horas atrás.</span>
        </div>


        <!--######## AREA Programação e desenvolvimento ########-->
        <div class="geral-colum">
            <h2>Programação e desenvolvimento</h2>
        </div><!--forum-1-->
        <div class="topic-geral">
            <span class="material-symbols-outlined">forum</span>
            <div class="topic-colum">
                <a href="forum/area_python">Python</a>
                <div class="sub-topic-colum">
                    <a href="forum/fundamentos-basicos-python/">Fundamentos Básicos</a>
                    <a href="#">Recursos Avançados</a>
                    <a href="#">Dúvidas</a>
                </div>
            </div>
            <span class="spngeral">{{ area.count }} topics | 100,3k posts</span>
            <span class="spngeral">{{ postagem.titulo }} por {{ postagem.autor }} <br>{{ postagem.created_at|date:"d \d\e F, Y - H:i" }}</span>
        </div>

        <div class="topic-geral">
            <span class="material-symbols-outlined">forum</span>
            <div class="topic-colum">
                <a href="#">Django</a>
                <div class="sub-topic-colum">
                    <a href="#">Fundamentos Básicos</a>
                    <a href="#">Recursos Avançados</a>
                    <a href="#">Dúvidas</a>
                </div>
            </div>
            <span class="spngeral">8,6k topics | 100,3k posts</span>
            <span class="spngeral">Topic por User, 11 horas atrás.</span>
        </div>

        <div class="topic-geral">
            <span class="material-symbols-outlined">forum</span>
            <div class="topic-colum">
                <a href="#">Programação web</a>
                <div class="sub-topic-colum">
                    <a href="#">HTML5</a>
                    <a href="#">CSS3</a>
                    <a href="#">Javascript</a>
                    <a href="#">PHP</a>
                </div>
            </div>
            <span class="spngeral">8,6k topics | 100,3k posts</span>
            <span class="spngeral">Topic por User, 11 horas atrás.</span>
        </div>

        <div class="topic-geral">
            <span class="material-symbols-outlined">forum</span>
            <div class="topic-colum">
                <a href="#">Banco de dados</a>
                <div class="sub-topic-colum">
                    <a href="#">SQLite</a>
                    <a href="#">MySQL</a>
                    <a href="#">PostgreSQL</a>
                    <a href="#">Outros</a>
                </div>
            </div>
            <span class="spngeral">8,6k topics | 100,3k posts</span>
            <span class="spngeral">Topic por User, 11 horas atrás.</span>
        </div>

        <div class="topic-geral">
            <span class="material-symbols-outlined">forum</span>
            <div class="topic-colum">
                <a href="#">Git & Github</a>
                <div class="sub-topic-colum">
                    <a href="#">Github</a>
                    <a href="#">Gitflow</a>
                    <a href="#">Git</a>
                </div>
            </div>
            <span class="spngeral">8,6k topics | 100,3k posts</span>
            <span class="spngeral">Topic por User, 11 horas atrás.</span>
        </div>
        

        <!--############ FORUM STATS ############-->

        {% include 'partials/forum/partials_usersonline.html' %}
        

    </div><!--container-->
{% endblock %}