{% load static %}


{% block partials_area_post %}
<style>
    .grid_1{ 
        background-color: white;
        max-width: 85%;
        padding: 0 auto;
        margin: 0 auto;
        height: 250px;
        display: grid;
        grid-template-columns: 8fr 2fr 2fr 0fr;
    }

    .cont{
        
    }


</style>
    <button>Novo Tópico</button>
    <div class="grid_1">
        <div class="title_user_post">
            <ul style="padding:0px; margin:0;">
                <li style="list-style: none;">
                    <a href="#">Titulo do post do usuario</a>
                    <br>
                    <span>por <a href="#">usuario</a>, Fevereiro 5, 2023.
                </li>
            <ul>
        </div>
        <div class="grid_2">
            <div class="views_post">
                <span>19 respostas <br> 15,6k visualizações</span>
            </div>
        </div>
        <div class="grid_3">
            <div class="user_post">
                <img src="#"></img>
                <span>USERNAME <br> Abril 19</span>
            </div>
        </div>
    </div>
    
{% endblock %}