{% block usersonline %}
<style>
    .usersonline{
        margin-top: 50px;
        padding: 10px;
        background-color: white;
        height: 100px;
        display: flex;
        grid-template-columns: 15fr 15fr;
    }

    .usersonline ul{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .usersonline ul h4{
        padding: 0;
        margin: 0;
    }
</style>

        <div class="usersonline">
            {% if users_online %}
            <ul>
                <h4>Usuários Online:</h4>
                {% for user in users_online %}
                <li style="display: inline;">{{ user.username }} |</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Não há usuários online no momento.</p>
            {% endif %}
        </div>

{% endblock %}