{% load static %}



{% block formpost %}
<style>
  form {
    width: 70%;
    margin: 0 auto;
    background-color: #1a1b1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .tituloarea{
    max-width: 98%;
  }

  .textarea{
    height: 200px;
    width: 98%;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  input[type="file"] {
    margin-bottom: 20px;
  }

  fieldset {
    margin-bottom: 20px;
  }

  legend {
    font-weight: bold;
  }

  input[type="radio"] + label {
    margin-right: 20px;
  }

  input[type="submit"] {
    background-color: #008000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #006400;
  }


  .container{
    margin-top: 50px;

  }

  .container h1{
    width: 73%;
    margin: 10px auto;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
  }


</style>



<div class="container">
  <h1>Publicar Novo Tópico em: <br>{{ area.descricao }}</h1>
  <form method="post" action="{% url 'novo_topico' area.slug %}">
      {% csrf_token %}
      <label for="titulo" style="color: red; font-size: 10px;">obrigatorio</label>
      <input class="tituloarea" type="text" name="titulo" id="titulo" placeholder="Titulo do Tópico"><br><br>
      <label for="titulo" style="color: red; font-size: 10px;">obrigatorio</label>
      <textarea class="textarea" name="conteudo" id="conteudo"></textarea><br><br>
      <input type="submit" value="Enviar">
  </form>
</div>


{% endblock %}