{% load static %}

{% block post_detail %}
<style>
    .containerpost{
        display: flex;
        background-color: white;
        max-width: 85%;
        padding: 0 15px;
        margin: 0 auto;
        margin-top: 80px;
    }

</style>


<div class="containerpost">
    <div style="display: inline;">
        <h4 style="text-align: center;">{{ posts.autor }}</h4>
        <img src="#">imagem autor</img>
        <h5 style="text-align: center;">Registrado desde: <br>{{ posts.autor.date_joined|date:"d/m/Y"}}</h5>
        <h5 style="text-align: center;">MEMBRO</h5>
    </div>

    <div style="display: flex; margin: 0 auto; padding: 0 auto;">
        <h4>{{ posts.conteudo }}</h4>
    </div>
</div>

{% endblock %}